$colors: (
  primary: #002f60,
  primary-light: #004893,
  secondary: #009244,
  dark-gray: #262626
);

$side-margins: (
  small: 18px,
  large: 30px
);

$breakpoints: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1024px,
  xLarge: 1440px
);

$container-width: 1300px;
$small-container-width: 720px;

$font: "Helvetica Neue", "Helvetica", Arial, sans-serif;

$container-width-plus-margin-breakpoint: $container-width +
  (map-get($side-margins, "large") * 2);
$extra-large-margin: calc(
  ((100vw - #{$container-width}) / 2) + #{map-get($side-margins, "large")}
);
