$colors: (
  primary: #002f60,
  primary-light: #004893,
  secondary: #009244,
  dark-gray: #262626
);

$side-margins: (
  small: 18px,
  large: 30px
);

$breakpoints: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1024px,
  xLarge: 1440px
);

$container-width: 1300px;
$small-container-width: 720px;

$font-title: "Helvetica Neue", "Helvetica", Arial, sans-serif;
$font-text: "Source Sans Pro", "Helvetica Neue", "Helvetica", Arial, sans-serif;
