/*
Note: any .css or .scss files included in the 'styles' directory
will be correctly compiled during `gulp serve` and `gulp`
 */

/*
Based on Skeleton CSS and a Flexbox Grid
*/

/*
Variables
*/
$text-font: 'Nunito', 'Helvetica', sans-serif;
$title-font: 'Hind', 'Helvetica', sans-serif;
$gray: #58595B;
$primary-color: #003049;
$secondary-color: #CFCFB4;

/*
Basic styles
*/
body {
  font-family: $text-font;
  margin: 0;
  padding: 0;
  font-size: 1.7em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $gray;
  text-align: center; }

/*
Typography
*/
html { font-size: 62.5%; }
h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
p {
  margin-top: 0;
  margin-bottom: 0; }

@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

/*
Links
*/
a {
  color: $primary-color; }

/*
Flexbox Grid
*/
.row {
  align-content: flex-start;
  align-items: center;
  display: flex;
  flex-flow: row wrap; }
.column  {
  box-sizing: border-box;
  flex-grow: 0;
  flex-basis: 100%; }
.column.column-xs-3,
.column.column-xs-4,
.column.column-xs-6 { flex-basis: 100%; }

@media (min-width: 750px) {
  .row { flex-wrap: nowrap; }
  .column.column-xs-3  { flex-basis: 25%; }
  .column.column-xs-4  { flex-basis: 33.333333%; }
  .column.column-xs-6  { flex-basis: 50%; }
}

/*
Utilities classes
*/
.text-color-primary { color: $primary-color; }
.text-color-white { color: #FFFFFF; }

@media (min-width: 750px) {
  .text-align-right { text-align: right; }
  .text-align-left { text-align: left; }
}

.primary-background {
  background-color: $primary-color;
  color: #FFFFFF; }
.secondary-background {
  background-color: $secondary-color;
  color: $primary-color; }
.white-background {
  background-color: #FFFFFF; }

/*
Mixins
*/

// Creates a slope on top of element
@mixin angle($flip: false, $angle: 2deg) {
  position: relative;
  z-index: 1;

  &:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
    top: 0;

    @if $flip {
      transform: skewY($angle * -1);
      transform-origin: 0 0;
    } @else {
      transform: skewY($angle);
      transform-origin: 100% 0;
    }
  }
}

/*
Custom styles
*/
section {
  padding-left: 10%;
  padding-right: 10%;
}

section:not(.intro) {
  padding-top: 75px;
}

@media (min-width: 750px) {
  section:not(.intro) {
    padding-top: 100px;
  }
}

.intro {
  height: 100vh;

  .title {
    margin-top: 25vh;
  }
}

header {
  justify-content: center;

  a {
    width: 25%;
    max-width: 100px;
    margin-top: 25px;
  }
}

@media (min-width: 750px) {
  header {
    justify-content: flex-start;
    padding-top: 2%;

    a {
      align-self: flex-start;
      width: 15%;
      margin-top: 0;
    }
  }
}

.summary {
  padding-bottom: 100px;
}

@media (min-width: 550px) {
  .summary {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 750px) {
  .summary {
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 150px;
  }
}

.slope {
  @include angle();
}

.slope-reverse {
  @include angle(true);
}

.skill-section {
  padding-bottom: 100px;

  h1 {
    margin-bottom: 50px;
  }

  .project {
    margin-bottom: 50px;
  }

  .icon {
    max-height: 150px;
    margin-bottom: 50px;
  }

  .screenshot {
    max-width: 100%;
  }
}

@media (min-width: 750px) {
  .skill-section {
    .icon {
      max-height: 200px;
    }
  }
}

@media (min-width: 1000px) {
  .skill-section {
    .icon {
      max-height: 200px;
    }
  }
}

@media (min-width: 750px) {
  .column-right {
    order: 2;
  }
}

.projects {
  align-items: flex-start;
}

.skill-text {
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 50px;
}

.box {
  padding: 0.2em 1em;
  border: 1px solid #FFFFFF;
  margin: 0.2em;
  font-size: 0.8em;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.details {
  .row {
    align-items: flex-start;
  }
}

.detail {
  padding: 1em;
}

.contact {
  padding-bottom: 50px;

  .logos {
    margin-top: 25px;
    display: flex;
    justify-content: center;

    a {
      opacity: 0.6;
      width: 40px;
      margin-left: 1em;
      margin-right: 1em;
    }

    a:hover {
      opacity: 0.8;
    }
  }
}
