.hero-image {
  max-width: 22rem;
}

@screen sm {
  .hero-image {
    max-width: 14rem;
    min-width: 10rem;
  }
}

@screen md {
  .hero-image {
    max-width: 16rem;
  }
}

@screen lg {
  .hero-image {
    max-width: 18rem;
  }
}

.project-rectangle {
  z-index: -1;
}

.project-image {
  width: 100%;
  max-width: 25rem;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
}

@screen md {
  .project-image {
    max-width: 27rem;
  }
}

.toast {
  bottom: -6rem;
}

.toast-visible {
  bottom: 0;
}

.footer-link {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
