.hero-image-container > div {
  @apply w-48 !important;
}

.hero-image {
  @apply w-48 !important;
  @apply h-48 !important;
}

@screen sm {
  .hero-image-container > div {
    @apply w-40 !important;
  }

  .hero-image {
    @apply w-40 !important;
    @apply h-40 !important;
  }
}

@screen md {
  .hero-image-container > div {
    @apply w-48 !important;
  }

  .hero-image {
    @apply w-48 !important;
    @apply h-48 !important;
  }
}

@screen lg {
  .hero-image-container > div {
    @apply w-56 !important;
  }

  .hero-image {
    @apply w-56 !important;
    @apply h-56 !important;
  }
}

.project-rectangle {
  z-index: -1;
}

.project-image {
  width: 100%;
  max-width: 25rem;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
}

@screen md {
  .project-image {
    max-width: 27rem;
  }
}

.toast {
  bottom: -6rem;
}

.toast-visible {
  bottom: 0;
}

.footer-link {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
