@media (prefers-reduced-motion: no-preference) {
  .menu[data-state="open"] .tab {
    @apply animate-slide-in;
  }

  .menu[data-state="open"] .tab:nth-of-type(1) {
    animation-delay: 30ms;
  }

  .menu[data-state="open"] .tab:nth-of-type(2) {
    animation-delay: 60ms;
  }

  .menu[data-state="open"] .tab:nth-of-type(3) {
    animation-delay: 90ms;
  }

  .menu[data-state="open"] .tab:nth-of-type(4) {
    animation-delay: 120ms;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .menu[data-state="closed"] .tab {
    @apply animate-slide-out;
  }

  .menu[data-state="closed"] .tab:nth-of-type(1) {
    animation-delay: 20ms;
  }

  .menu[data-state="closed"] .tab:nth-of-type(2) {
    animation-delay: 40ms;
  }

  .menu[data-state="closed"] .tab:nth-of-type(3) {
    animation-delay: 60ms;
  }

  .menu[data-state="closed"] .tab:nth-of-type(4) {
    animation-delay: 80ms;
  }
}
